Flask==3.0.3
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Caching==2.1.0
Flask-Assets==2.1.0
SQLAlchemy==2.0.30
requests>=2.18.0,<3.0.0
stripe==9.6.0
onesignal-sdk==2.0.0
pillow==10.3.0
weasyprint==62.1
apscheduler==3.10.4
pdfplumber==0.11.0
python-dotenv==1.0.1
itsdangerous==2.2.0
werkzeug==3.0.3
google-analytics-data==0.17.1
google-auth==2.29.0
gunicorn==22.0.0
psycopg2-binary
